@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Serif:wght@700&display=swap');

body {
    background: #FE922D;
    font-family: 'Inter', sans-serif;
}

header {
    text-align: center;
}

.title {
    font-family: 'Noto Serif', serif;
    display: inline-block;
}

.add-task-button {
    display: inline-block;
}

.add-task-form {
    display: none;
}

.tasks-container {
    text-align: center;
    margin-top: 1.5rem;
}

.fa-trash, .fa-pencil {
    pointer-events: none;
}