@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Serif:wght@700&display=swap');

body {
    background: #FE922D;
    font-family: 'Inter', sans-serif;
}

header {
    text-align: center;
}

.title {
    font-family: 'Noto Serif', serif;
    font-size: 2.5rem;
    display: inline-block;
}

.add-task-form {
    display: none;
    font-size: 1.5rem;
}

.add-task-input {
    font-size: 1.5rem;
    width: 50%;
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #000000;
}

.tasks-container {
    text-align: center;
    margin-top: 1.5rem;
}

.task-div {
    margin: 1rem auto;
    background-color: #FF6B00;
    padding: 0.75rem;
    width: 90%;
    border-radius: 5px;
}

.btn {
    background-color: #000000;
    color: #FE922D;
    border-radius: 5px;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #FE922D;
    color: #000000;
}

.new-task-input {
    background: transparent;
    outline: 0;
    border: 0;
    width: 50%;
    font-size: 1.5rem;
}

/* Prevents issue where it was difficult to click the edit and delete buttons */
.fa-trash, .fa-pencil, .fa-floppy-disk {
    pointer-events: none;
}

/* Media Queries */
@media (max-width: 850px) {
    .task-div {
        width: 100%;
        padding: 0;
    }
    .edit-btn, .delete-btn {
        position: relative;
        left: 10%;
        margin: 0.5rem;
    }
}

@media (max-width: 730px) {
    .add-task-input, .new-task-input, .btn {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 2rem;
    }

    .btn {
        font-size: 1rem;
    }
}